<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Rowan De Almeida">
    <title th:text="'What Gender is ' + ${personal_name} + ' Today?'"></title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- MDB CSS -->
    <link href="../static/css/mdb.min.css" th:href="@{/css/mdb.min.css}" rel="stylesheet" />

    <style th:inline="css">
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- Additional Custom CSS -->
    <link href="../static/localcss/local.css" th:href="@{/localcss/local.css}" rel="stylesheet" />
</head>

<body class="cover-container text-center text-white" style="background-color: #6c757d" th:style="'background-color:' + ${backdrop_colour}">

    <div class="main-content">

        <header class="container-fluid start-50 p-3">
            <div class="row justify-content-around">
                <div class="col-4 d-flex align-items-center">
                    <a class="" href="/">
                        <img src="../static/assets/branding/what-gender-logo-white.svg" th:src="@{/assets/branding/what-gender-logo-white.svg}" width="200" alt="WhatGender">
                    </a>
                    <h6>The Gender & Pronoun Status App</h6>
                </div>
                <nav class="col-4 nav align-items-center align-middle">
                    <a class="nav-link active" aria-current="page" href="#">What Gender?</a>
                    <a class="nav-link" href="#">About</a>
                    <a class="nav-link" href="update">Update</a>
                    <a class="nav-link" href="#">GitHub</a>
                </nav>
            </div>
        </header>

        <div class="content position-absolute top-50 start-50 translate-middle">
            <div class="gender-report p-4 animation fade-in">
                <h2 class="fw-light" th:inline="text">
                    Right Now, [[${personal_name}]] is
                </h2>
                <h1 th:text="${current_gender}"></h1>
            </div>

            <div class="pronoun-report p-4 animation fade-in">
                <h2 class="fw-light">Pronouns to use are</h2>
                <h1 th:text="${current_pronouns}"></h1>
            </div>
        </div>


    </div>

    <!-- Bootstrap JS -->
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>

</body>
</html>