<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Add New Entity</title>
</head>

<body>

<h1>Update Gender</h1>

<form action="#" th:action="@{/update}" th:object="${sub}" method="post">
    <select th:field="*{gender}" th:required="true">
        <option value=""> --- </option>
        <option th:each="gender : ${T(com.redhoodedwraith.WhatGender.DataManage.ProfileData).getGenderOptions()}"
                th:value="${gender.getGenderName()}" th:text="${gender.getGenderName()}"></option>
    </select>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>